body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
    box-sizing: border-box;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: 400;
    text-transform: uppercase;
    background-color: #ffffff;
    background-repeat: no-repeat;
    text-align: center;
}

a {
    text-decoration: none;
}

.wrapper {
    width: 1200px;
    margin-right: auto;
    margin-left: auto;
    box-shadow: 0 0 40px 2px #dbdbdb;
    position: relative;
}

.visually_hidden {
    visibility: hidden;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.hotel_search_form {
    height: 395px;
    width: 568px;
    margin: 0 auto;
    background: white;
    box-sizing: border-box;
    position: relative;
    padding: 55px;
}

header {
    min-height: 56px;
}

.main_navigation_list {
    width: 1200px;
    min-height: 56px;
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    list-style: none;
}

a .inner_page {
    color: #766357;
}

.main-header-logo {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 100;
    width: 138px;
    height: 70px;
    margin-right: auto;
    margin-left: auto;
    margin-left: -69px;
}

.intro-container {
    margin-bottom: 55px;
}

.catalog_form {
    display: flex;
    height: 217px;
    padding: 0 72px;
    background-image: url("../img/catalog_bg.jpg");
    background-repeat: no-repeat;
    background-position: top;
    font-size: 14px;
    line-height: 21px;
    color: #fefefe;
    border-style: none;
    background-color: #81b3d2;
    align-items: center;
}

.main_navigation_list li {
    width: 20%;
}

.stars_rate li {
    margin-left: 2px;
}

.option_title {
    font-size: 16px;
}

.hotel_option_first {
    height: 115px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}

ul.hotel_option_second {
    height: 115px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: space-between;
}

.housing_type {
    margin-left: 56px;
    margin-top: 24px;
}

.main_navigation a {
    text-decoration: none;
    font-weight: bold;
    color: black
}

.main_navigation a:hover {
    color: #81b3d2;
}

.main_navigation_list a:active {
    color: #f1f1f1;
}

.main_navigation_list .active {
    color: #766357
}

.main_navigation_list .active:hover {
    color: #766357
}

.main_navigation_list .active:active {
    color: #766357
}

fieldset {
    display: flex;
    border-style: none;
}

.filters ul {
    list-style: none;
}

legend {
    font-size: 16px;
    line-height: 21px;
    font-weight: bold;
}

ul {
    list-style: none;
}

.button-up,
.button-down {
    border: none;
    background-color: transparent;
}

.starred {
    background-image: url("../img/star.svg");
    background-repeat: no-repeat;
    background-position: center;
    width: 18px;
    height: 18px;
    display: block;
}

.filter-range {
    width: 330px;
    margin: 50px auto;
    margin-left: 306px;
    color: #ffffff;
    text-transform: uppercase;
}

.filter-range-title {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}

.price-controls {
    position: relative;
    height: 36px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}

.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    transform: translate(-50%, -50%);
}

.price-controls label {
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    vertical-align: top;
    cursor: pointer;
}

.price-controls .min-price,
.price-controls .max-price {
    width: 90px;
    padding-left: 65px;
}

.price-controls input {
    width: 50px;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}

.range-controls {
    position: relative;
    margin-bottom: 32px;
}

.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
    width: 80%;
    height: 2px;
    background: #ffffff;
}

.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    background: #ababab;
    border: 8px solid #ffffff;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
    cursor: pointer;
}

.range-toggle:hover {
    background: #1c4f80;
}

.range-toggle-min {
    left: 0;
}

.range-toggle-max {
    left: 80%;
}

.btn-transparent {
    display: block;
    margin: 0 auto;
    padding: 6px 35px;
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
}

.btn-transparent:hover {
    color: #000000;
    background: #ffffff;
}

.icon_down_dir path {
    fill: #81b3d2;
}

.icon_up_dir path {
    fill: #cacaca;
}

button.button_pricing {
    font-size: 12px;
    line-height: 18px;
    color: #81b3d2;
    text-transform: uppercase;
    border-style: none;
    background-color: transparent;
}

button.button_pricing:active {
    font-size: 12px;
    line-height: 18px;
    color: #bad3e5;
    border-style: none;
    background-color: transparent;
}

.sorting {
    font-size: 12px;
    line-height: 18px;
    color: #000000;
    margin-left: 60px;
}

p.btn_book_more_info {
    margin: 0;
}

button {
    text-transform: uppercase;
}

p.info {
    margin: 0;
}

button.type_rating_button {
    font-size: 12px;
    line-height: 18px;
    color: #d0d0d0;
    padding: 0;
    border-style: none;
    background-color: transparent;
    border-bottom: 1px dotted #81b3d2;
}

button.type_rating_button:hover {
    font-size: 12px;
    line-height: 18px;
    color: #a8c9df;
    border-style: none;
    background-color: transparent;
    border-bottom: 1px dotted #81b3d2;
}

button.type_rating_button:active {
    color: #000000;
    text-decoration: none;
    border: none;
}

.more_info_button {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    width: 110px;
    height: 27px;
    color: #ffffff;
    text-align: center;
    background-color: #81b3d2;
    border-style: none;
}

.book_button {
    font-size: 14px;
    line-height: 21px;
    font-weight: bold;
    width: 142px;
    height: 27px;
    color: #ffffff;
    text-align: center;
    background-color: #766357;
    border-style: none;
}

.book_button:hover {
    background-color: #604e43;
}

.book_button:active {
    background-color: #503e33;
    color: #928a85;
}

.more_info_button:hover {
    background-color: #669ec0;
}

.more_info_button:active {
    background-color: #5496bd;
    color: #85b0cd;
}

.hotel_type {
    font-size: 14px;
    line-height: 21px;
    color: #666666;
}

.price {
    font-size: 14px;
    line-height: 21px;
    color: #5c5c5c;
}

.rating {
    padding: 5px 13px 5px 16px;
    font-size: 14px;
    line-height: 21px;
    color: #666666;
    background-size: 110px 27px;
    background-color: #f2f2f2;
}

.menu {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
}

p.btn_book_more.info {
    margin-bottom: 0px;
}

.hotel_name {
    font-size: 21px;
    line-height: 16px;
    color: #000000;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.description_header {
    font-size: 30px;
    line-height: 26px;
    text-align: center;
    font-weight: bold;
}

.description_text {
    font-size: 14px;
    line-height: 26px;
    text-align: center;
}

.pull_image_right,
.pull_image_left {
    background-color: #81b3d2;
    width: 400px;
    height: 256px;
    margin: auto;
    align-items: center;
}

.reasons_title {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
    padding-top: 48px;
    margin: 0px;
}

.reasons_row h2 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.reasons_row {
    background-color: #81b3d2;
}

.reasons_number {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.reasons_text {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
    color: #ffffff;
}

.reasons_row_features {
    background-color: #ffffff;
}

.icons {
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}

.icons_text {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-align: center;
}

.grey_reasons_row {
    font-size: 14px;
    line-height: 21px;
    color: #333333;
    text-align: center;
    background-color: #eeeeee;
}

.grey_reasons_row h3 {
    font-size: 21px;
    line-height: 21px;
    text-align: center;
}

.search {
    background-color: #ffffff;
}

.search_desc {
    margin-bottom: 52px;
}


/* search form start */

.form_wrap {
    position: relative;
}

.search p {
    position: relative;
}

section.search_form {
    background: #fff;
    padding: 0;
    margin: 0;
}

.search h2 {
    font-size: 30px;
    line-height: 36px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 25px
}

.search p {
    font-size: 14px;
}

.search_form {
    font-size: 14px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

p.form_number {
    display: flex;
}

.control_buttons {
    display: flex;
}

button.calendar {
    width: 38px;
    height: 38px;
    background: url("../img/calendar.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    position: absolute;
    right: 10px;
    border: none;
    outline: 0;
}

button.search_sedona:hover {
    background-color: #604e43;
}

button.search_sedona:focus {
    background-color: #503e33;
    color: #928a85;
}

.search_form_field input {
    width: 338px;
    height: 38px;
    padding-left: 12px;
    color: #000000;
    background-color: #f2f2f2;
    border-style: none;
    font-weight: bold;
    padding-left: 11px;
    text-transform: uppercase;
}

.control_buttons {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

p.search_form_field {
    padding-bottom: 29px;
    margin: 0;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.form_number label {
    margin-right: 40px;
}

label.kids {
    margin: 0;
    margin-right: 27px;
}

.map {
    margin-top: -198px;
}

input[type="number"] {
    width: 38px;
    height: 38px;
    color: #000000;
    font-weight: bold;
    text-align: right;
    border-style: none;
    background-color: #f2f2f2;
    padding: 0;
    margin: 0;
}

button.minus_button {
    background-color: #f2f2f2;
    line-height: 0px;
    height: 38px;
    width: 38px;
    border-style: none;
    padding: 0;
    background-image: url(../img/minus_button.png);
    background-repeat: no-repeat;
    background-position: center;
}

.calendar button {
    background-image: url("../img/calendar.svg");
    background-repeat: no-repeat;
    width: 21px;
    height: 22px;
}

button.plus_button {
    background-color: #f2f2f2;
    height: 38px;
    width: 38px;
    border-style: none;
    padding: 0;
    line-height: 0px;
    background-image: url(../img/plus_button.png);
    background-repeat: no-repeat;
    background-position: center;
}

button.search_sedona {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    width: 568px;
    height: 86px;
    color: #ffffff;
    text-align: center;
    background-color: #766357;
    border-style: none;
    text-transform: uppercase;
}

button.search_form_calendar {
    background-color: #f1f1f1;
    border-style: none;
}

button.search_form_calendar:hover {
    color: #000000;
}

.search_show_results_button {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #81b3d2;
    border-style: none;
    width: 460px;
    height: 60px;
    outline: 0;
    text-transform: uppercase;
}

.search_show_results_button:hover {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
    background-color: #669ec0;
    border-style: none;
    width: 460px;
    height: 60px;
    outline: 0;
}

.search_show_results_button:active {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-align: center;
    color: #94b9d2;
    background-color: #5496bd;
    border-style: none;
    width: 460px;
    height: 60px;
    outline: 0;
}

button.plus_button {
    font-size: 12px;
    font-weight: bold;
    color: #000000;
}


/* footer */

footer.catalog_footer {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

footer.main_footer {
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    position: absolute;
    bottom: 0px;
    left: 0px;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1200px;
    margin: 0 auto;
}

.hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #000000;
}

.socials {
    display: flex;
    justify-content: center;
    padding-left: 0;
}

.social_button {
    display: inline-block;
    width: 46px;
    height: 46px;
    background-color: #81b3d2;
    color: #fff;
    margin: 5px;
    background-repeat: no-repeat;
    background-position: center;
    font-size: 0px;
}

.social_button.twitter {
    background-image: url(../img/twitter.svg);
}

.social_button.facebook {
    background-image: url(../img/fb-icon.svg);
}

.social_button.youtube {
    background-image: url(../img/youtube.svg);
}

.copyright {
    font-size: 14px;
    line-height: 21px;
    text-align: center;
}

.copyright a {
    color: #000000;
    display: inline-block;
    height: 41px;
}

.copyright a:active {
    color: #bdbbbc;
}

.copyright a:hover {
    color: #81b3d2;
}

input.filters_show_result {
    font-size: 14px;
    line-height: 21px;
    border: 2px solid white;
    color: #fff;
    border-color: #fff;
    background: transparent;
}

.copyright {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copyright span {
    margin-right: 10px;
}

.copyright .logo-footer {
    width: 115px;
    height: 41px;
}

.reasons_row {
    display: flex;
    width: 1200px;
    justify-content: space-around;
    align-items: center;
    height: 256px;
    line-height: 0;
}

.reasons_row_features {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 328px;
    width: 1200px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 36px;
    margin-top: -14px;
    background-color: #fff;
}

.reasons_row_2 {
    display: flex;
    width: 1200px;
    justify-content: space-around;
    line-height: 0;
    align-items: center;
    height: 256px;
    flex-direction: row-reverse;
    line-height: 0;
}

.grey_reasons_row {
    display: flex;
    width: 1200px;
    height: 256px;
    align-items: center;
    justify-content: space-around;
}

.hotel_list {
    padding: 0px 75px;
    height: 150px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e5e5e5;
}

.button_up_down_dir {
    display: flex;
}

.button_up_down_dir li {
    margin-left: 5px;
}

.type_rating_button {
    text-transform: uppercase;
}

.hotel_pic {
    order: -1;
    height: 90px;
}

.hotel_wrap {
    height: 90px;
    padding-left: 25px;
    text-align: left;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sort {
    padding: 0 75px;
    height: 86px;
    display: flex;
    align-items: center;
    font-size: 12px;
    line-height: 18px;
    border-bottom: 1px solid #e5e5e5;
}

ul.sorting_buttons {
    display: flex;
    padding: 0;
    text-transform: uppercase;
}

.sorting_buttons li {
    padding-left: 32px;
}

.price {
    margin-left: 34px;
}

span.sorting {
    align-self: center;
    margin-left: 42px;
}

.sort_container {
    display: flex;
    flex-grow: 1;
}

.sorting_title {
    font-size: 21px;
    font-weight: bold;
}

.hotel_right_block {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 90px;
    justify-content: space-between;
}

ul.stars_rate {
    display: flex;
    margin: 0;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: "";
    display: inline-block;
    padding-left: 20px;
    height: 23px;
    width: 23px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked+label::before {
    height: 23px;
    width: 23px;
    background-image: url("../img/checkbox-on.svg");
}

input[type="checkbox"]:disabled+label::before {
    color: gray;
}

.main_navigation_list li:nth-child(3) {
    margin-left: 240px;
}